[submodule "ProjectC/CMake"]
	path = ProjectC/CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = master
[submodule "ProjectB/Custom CMake"]
	path = ProjectB/Custom CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = master
[submodule "ProjectA/CMake"]
	path = ProjectA/CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = master
